{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Collaboration Board</title>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Modular CSS -->
    <link rel="stylesheet" href="{% static 'collaboration/css/style.css' %}">
</head>

<body>

<div class="container">

    <h2 class="text-center">Realtime Task Board</h2>
    <div id="connectionStatus" class="connection-badge disconnected">
        🔴 Disconnected
    </div>
    <div class="logout-box">
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="btn btn-danger">Logout</button>
        </form>
    </div>
    <div class="create-box">
        <input id="taskInput" type="text" placeholder="New Task">
        <button id="createBtn" class="btn btn-primary">Add Task</button>
        <button id="themeToggle" class="btn icon">
            <span id="themeIcon"></span>
        </button>
    </div>

    <div class="board">

        <div class="column">
            <h3>To Do</h3>
            <ul id="todo"></ul>
        </div>

        <div class="column">
            <h3>In Progress</h3>
            <ul id="in_progress"></ul>
        </div>

        <div class="column">
            <h3>Done</h3>
            <ul id="done"></ul>
        </div>

    </div>

</div>

<script>
    const themeIconPath = "{% static 'collaboration/icons/theme.svg' %}";
</script>
<script src="{% static 'collaboration/js/tasks.js' %}"></script>
</body>
</html>