{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'collaboration/css/style.css' %}">
</head>

<body>

<div class="auth-container">

    <div class="auth-card">
        <h2 class="text-center">Login</h2>

        <form method="post" class="auth-form">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary w-100">
                Login
            </button>
        </form>

    </div>

</div>

</body>
</html>